/*----- common.css - Common CSS Properties -----*/

/* Always force a scrollbar in non-IE */
html {
	overflow-y: scroll;
}

html, body {
	background: #F5F5F5 url('../images/24_col.gif') repeat-y top center;
	color: #666666;
	font: 13px/1.5 "Segoe UI", "Trebuchet MS", Tahoma, Arial, sans-serif; 
	*font-size:small;
}

/*----- TEXT ELEMENTS -----*/
p { margin: 0 0 1.5em 0; }
p img.left	{ float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right	{ float: right; margin: 1.5em 0 1.5em 1.5em; }

a {
	background: transparent;
	color: #446688;
	font-size: 100%;
	text-decoration: underline;
}
a:focus { color: #113355; }
a:hover { text-decoration: none; }
a:hover, a:active { outline: none; }

blockquote, q { background: #F5F5F5; font-style: italic; margin: 3em 0; padding: 1.5em; }
blockquote p:before,q p:before	{ content: '«'; }
blockquote p:after,q p:after	{ content: '»'; }
blockquote p, q p{ margin: 0; }

big,  .large { font-size: 125%; }
small,.small { font-size: 75%; }

b,strong,dfn{ font-weight: bold; }
i,em,dfn	{ font-style: italic; }
u			{ text-decoration: underline; }

sup, sub	{ font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

abbr, acronym, dfn { border-bottom: 1px dotted #666666; cursor: help; }

address		{ font-style: italic; margin: 0 0 1.5em; }
ins, mark	{ text-decoration: underline; font-style: italic; font-weight: bold; }
del, s		{ text-decoration: line-through; }

pre {
	white-space: pre; white-space: pre-wrap; word-wrap: break-word;
	margin: 1.5em 0;
}
pre, code, tt, kbd, samp { font-family: "Courier New", monospace, sans-serif; }

hr {
	display: block;
	height: 1px;
	margin: 1.5em 0;
	padding: 0;
	
	background:#E2E2E2; 
	border: 0;
	border-top:	1px solid #CCCCCC;
	color:#E1E1E1; 
}

/*----- HEADINGS -----*/
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	margin-bottom: 0.5em;

	color: #333333;
	font-weight: normal;
}

h5, h6 { font-weight: bold; }

h1 { font-size: 300%; }
h2 { font-size: 225%; }
h3 { font-size: 175%; }
h4 { font-size: 150%; }
h5 { font-size: 125%; }
h6 { font-size: 100%; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin: 0;
}


/*----- LISTS -----*/
ol, ul { margin-left: 2em; }
ol { list-style: decimal outside; }
ul { list-style: disc; }

li { display: list-item; }

nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

dl		{ margin: 0 0 1.5em 0; }
dl dt	{ font-weight: bold; }
dd		{ margin-left: 1.5em; }


/*----- TABLES -----*/
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1.4em; 
}

th { font-weight: normal; }
td { vertical-align: top; }
thead th, thead td { background: #E3E9EE; }
th, td, caption	{ padding: 4px 10px 4px 5px; }
caption, tfoot th { background: #F3FAFA; font-style: italic; text-align: center; }

tr.row2 td, tr.row2 th{ background: #F4F4F4; }


/*----- FORMS -----*/
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

fieldset { padding: 1.5em; margin: 0 0 1.5em 0; border: 1px solid #CCCCCC; }
fieldset.blank { border: 0; margin: 0; padding: 0; }

button { font:99% sans-serif; margin: 0.5em 0; overflow: visible; width: auto; }
label { font-weight: bold; }
legend { font-size: 125%; font-weight: bold; }
select { font:99% sans-serif; margin: 0.5em 0; }
textarea { overflow: auto; padding: 5px; width: 390px; }

input.text, input.inputbox, input.title	{ padding:5px; width: 300px; }
input.title	{ font-size: 1.5em; }

input[type=text], input[type=password], input.text, input.inputbox, input.title, textarea {
	margin: 0.5em 0;
	
	background-color: #FFFFFF;
	border: 1px solid #BBBBBB;
	font:99% sans-serif;
}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.inputbox:focus, 
input.title:focus, textarea:focus {
	border-color: #666666;
}

input[type=checkbox], input[type=radio], input.checkbox, input.radio {
	position: relative; top: .1em;
}
input[type="radio"], input[type="checkbox"] { vertical-align: baseline; }

input.invalid, textarea.invalid {
	border-color: red;
	color: red;
}
input.valid, textarea.valid {  }


/*----- MISC -----*/
::-moz-selection{ background: #FF5E99; color: #FFFFFF; text-shadow: none; }
::selection { background: #FF5E99; color: #FFFFFF; text-shadow: none; }


figure {
	margin-bottom: 1em;
	text-align: center;
}

figure blockquote{
	margin: .75em 0;

	font-style: italic;
	text-align: left;
}

figure figcaption{
	font-style: italic;
}

figure img{
	border: 1px solid #CCCCCC;
	padding: 4px;

	background: #FFFFFF;
}

figure pre, figure pre {
	text-align: left;
} 

figure.left { float: left; margin: .5em 1.5em 1.5em 0; }
figure.right { float: right; margin: .5em 0 1.5em 1.5em; }
