/*----- Content styles - content.css -----*/

div#main .breadcrumbs {
	display: block;
	margin: 0 0 1.5em 0;
	
	font-size: 90%;
}

	div#main .breadcrumbs span {
		margin-right: .25em;
	}
	
	div#main .breadcrumbs a,
	div#main .breadcrumbs img {
		margin: 0 .15em;
	}
