/*----- Content styles -----*/

.breadcrumbs {
	display: block;
	margin: 0 0 1.5em 0;
	
	font-size: 90%;
}

.breadcrumbs span {
	margin-right: .25em;
}

.breadcrumbs a, .breadcrumbs img {
	margin: 0 .15em;
}
