/*----- Development styles (Do not use this file in production!) - dev.css -----*/

.fsize300 { font-size: 300%; }
.fsize225 { font-size: 225%; }
.fsize200 { font-size: 200%; }
.fsize175 { font-size: 175%; }
.fsize150 { font-size: 150%; }
.fsize125 { font-size: 125%; }
.fsize75  { font-size: 75%; }

.alignC	{ text-align:center; }
.alignL	{ text-align:left; }
.alignR	{ text-align:right; }

.floatL	{ float:left; }
.floatR	{ float:right; }

.clearL	{ clear:left; }
.clearR	{ clear:right; }
.clearB	{ clear:both; }

.displayB	{ display:block; }
.displayI	{ display:inline; }
.displayIB	{ display:inline-block; }

.margin10	{ margin:10px; }
.margin20	{ margin:20px; }
.margin30	{ margin:30px; }
.margin40	{ margin:40px; }

.noMarginLT	{ margin-left: 0 !important; margin-top:0 !important; }
.noMarginRT	{ margin-right: 0 !important; margin-top:0 !important; }
.noMarginT	{ margin-top: 0 !important; }
.noMarginB	{ margin-bottom: 0 !important; }
.noMarginL	{ margin-left: 0 !important; }
.noMarginR	{ margin-right: 0 !important; }
.noMargin	{ margin: 0 !important; }

.outline1red { outline: 1px solid red; }

.border5grey { border: 5px solid #E5E5E5; }
.border5white { border: 5px solid #FFF; }
