/*----- Internet Explorer Fixes - ie.css -----*/

/*----- IE 8 -----*/
.lt-ie9 .rgba,
.lt-ie9 .shadow,
.lt-ie9 .rounded,
.lt-ie9 .gradient { behavior: url('js/pie/PIE.htc'); position: relative; zoom: 1; z-index: 1; }

/*----- IE 7 -----*/
.lt-ie8 {}

/*----- IE 6 -----*/
.lt-ie7 img,
.lt-ie7 .png_bg { behavior: url('js/pie/PIE.htc'); -pie-png-fix: true; position: relative; }
