/*----- Main block styles - main.css -----*/

#main .breadcrumbs {
	display: block;
	font-size: 90%;
	margin: 0 0 1.5em 0;
}
	#main .breadcrumbs span {
		margin-right: .25em;
	}
	#main .breadcrumbs a,
	#main .breadcrumbs img {
		margin: 0 .15em;
	}
