/*----- Print styles -----*/

@media print {
	
* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }

body { font-family: "Segoe UI", Tahoma, Arial, sans-serif;	font-size: 100%; line-height: 1.5; }

.container { background: none; }

@page { margin: 0.5cm; }

hr {
	border: none;
	height: 2px;
	margin: 2em 0;
	padding: 0;
	width: 100%;
}

h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", Tahoma, Arial, sans-serif;}
code {font:.9em "Courier New", monospace;}

p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }

img { max-width: 100% !important; }
a img {border:none;}
p img.top {margin-top: 0;}

pre, blockquote {
	border: 1px solid #999;
	font-size:.9em;
	font-style:italic;
	margin:1.5em;
	padding:1em;
	page-break-inside: avoid;
}

big,  .large { font-size: 125%; }
small,.small { font-size: 75%; }
.quiet	{ color: #999; }
.hide	{ display:none; }

a, a:link, a:visited {	background: transparent;font-weight:700; text-decoration: underline; }

a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; }
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }

thead { display: table-header-group; }

tr, img { page-break-inside: avoid; }

header, nav, footer, aside {display:none !important;}
