/*----- Print styles -----*/

@media print {

body {
	background: none;
	color: #000;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5;
}

.container {
	background: none;
}

hr {
	background: #C2C2C2;
	color: #C1C1C1;
	border: none;
	height: 2px;
	margin: 2em 0;
	padding: 0;
	width: 100%;
}

h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", Tahoma, Arial, sans-serif;}
code {font:.9em "Courier New", monospace;}

a img {border:none;}
p img.top {margin-top: 0;}

blockquote {
	font-size:.9em;
	font-style:italic;
	margin:1.5em;
	padding:1em;
}

big,  .large {font-size: 125%;}
small,.small {font-size: 75%;}
.quiet	{color: #999;}
.hide	{display:none;}

a:link, a:visited {
	background: transparent;
	font-weight:700;
	text-decoration: underline;
}

a:link:after, a:visited:after {
	content: " (" attr(href) ")";
	font-size: 90%;
}

header, nav, footer, aside {display:none !important;}


/*
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
*/
