/*----- Main Structure - structure.css -----*/

/*----- Top Level -----*/
html, body {
	text-align:	center;
}

#wrapper {
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
	width: 960px;
	height: 1%;
}


/*----- Main Structure Blocks -----*/
header,
nav,
#main,
footer {
	clear: right;
	overflow: hidden;
	width: 960px;
}

header {
	
}

nav {
	margin: 0 0 20px;
	text-align: center;
}

#main {
	margin: 0 0 20px;
}

footer {
	
}


/*----- Content Block Сolumns -----*/
#content,
#sidebar1,  
#sidebar2 {
	display: inline;
	float: left;
	overflow: hidden;
}

#content {
	margin: 0 5px;
	width: 550px;
}

#sidebar1 {
	margin: 0 5px;
	width: 190px;
}

#sidebar2 {
	margin: 0 5px;
	width: 190px;
}

